<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UIM人员导出</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link id="viewLink" rel="stylesheet" type="text/css" th:href="@{/css/bigView.css}"/>
</head>

<body class="hashover">
<h1>UIM人员导出系统</h1>
<div class="container">
    <div class="box" id="box_1" style="float: left;width: 70%;">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <div id="downloadDiv" onclick="download(this.value)" class="box button inline">下载</div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/layer/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<link rel="stylesheet" th:href="@{/js/layer/skin/layer.css}"/>
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
<!-- <link rel="stylesheet" href="css/awesomeStyle/awesome.css" type="text/css"> -->
<link rel="stylesheet" th:href="@{/css/metroStyle/metroStyle.css}" type="text/css">
<!-- <link rel="stylesheet" href="css/zTreeStyle/zTreeStyle.css" type="text/css"> -->
<style>
    .ztree * {
        font-size: 14px;
    }

    .ztree li a {
        height: 25px;
    }

    .ztree li a.curSelectedNode {
        border: 1px dashed #000;
        background-color: #d5f8ff;
        height: 25px;
        padding-top: 2px;
    }

    .ztree li span.button.switch {
        width: 21px;
        height: 25px;
    }

    .container {
        width: 100%;
        margin: 15px 30px;
    }
    h1 {
        text-align: center;
    }
</style>


<script>
    function zTreeOnClick(event, treeId, treeNode) {
        $("#downloadDiv").attr("value", treeNode.id);
    }

    function zTreeBeforeClick() {
        let treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        let nodes = treeObj.getSelectedNodes();
        if (nodes.length > 0) {
            treeObj.cancelSelectedNode(nodes[0]);
        }
    }

    let setting = {
        data: {
            simpleData: {
                enable: true
            }
        }, callback: {
            onClick: zTreeOnClick,
            beforeClick: zTreeBeforeClick
        }
    };

    //获取所有树节点并展开第一层
    function getAllTreeData() {
        $.get("api/corp/all", {}, function (result) {
            let zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, result.data);
            let nodes = zTreeObj.getNodes();
            if (nodes.length>0) {
                zTreeObj.expandNode(nodes[0], true, false);
            }
        });
    }

    getAllTreeData(); //获取所有投票数

    const download = (id) => {
        if (typeof (id) === "undefined") {
            layer.msg("请先选择需要导出的单位！", {icon: 2, offset: "mt", time: 1000});
            return;
        }
        let loadIndex = layer.load(2, {
            shade: [0.5, "#000"],
            offset: "mt",
        });
        axios({
            method: "get",
            url: `api/v1/user/export?corpId=${id}`,
            responseType: 'blob',
        }).then((res) => {
            if (res.headers['content-disposition']) {
                const fileName = window.decodeURI(res.headers['content-disposition'].split('=')[1]);
                const fName = fileName !== "undefined" ? fileName : "UIM人员详情.xlsx"; //名称（带文件后缀类型）'aaa.txt';
                const selfURL = window[window.webkitURL ? 'webkitURL' : 'URL'];
                let elink = document.createElement('a');
                if ('download' in elink) {
                    elink.download = fName; // '导出数据.xls'
                    elink.style.display = 'none';
                    elink.href = selfURL['createObjectURL'](res.data);
                    document.body.appendChild(elink);
                    // 触发链接
                    elink.click();
                    document.body.removeChild(elink);
                } else {
                    navigator.msSaveBlob(res.data, fName);
                }
            } else {
                layer.msg("服务器错误！", {icon: 2, offset: "mt", time: 1000});
            }
            layer.close(loadIndex);
        });

    };

</script>
</html>
